.posts-list{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.post{
  width: 200px;
  padding: 5px;
  text-align: center;
  border: 1px solid;
 
}

.post-title{
  font-weight: bold;
  margin-bottom: 10px;
}
